.App {
  align-items: center;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: url(../src/images/tiles.jpg);
}
.bottomright {
  position: absolute;
  right: 20px;
  font-size: 28px;
  top: 20px;
  color: red;
}
body {
  height: 100%;
  margin: 0;
}

